@{
    ViewData["Title"] = "About";
}
<h2>Secret From Key Vault: @ViewData["Secret"]</h2>

<p class="lead">MSI_SECRET: <em>@ViewData["MsiSecret"]</em></p>
<p class="lead">MSI_ENDPOINT: <em>@ViewData["MsiEndpoint"]</em></p>